html{color:#000;overflow-y:scroll;background:#fff}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,lengend,li,ol,p,pre,textarea,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 Tahoma,Arial,"\5b8b\4f53",sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
.sw-layout-mod{zoom:1;clear:both;margin-bottom:8px}
.sw-layout-mod:after{display:block;clear:both;height:0;content:"\0020"}
.sw-mod-sn{background-color:#f3f1f1;border:1px solid #ecebeb;color:#444}
.sw-mod-sn-attrlists{background-color:#f3f1f1;border:1px solid #ecebeb;color:#444}
.sw-mod-sn-attrlist{background-color:#f3f1f1;border-bottom:1px solid #ecebeb}
.sw-mod-sn-attrlist.noborder{border:0}
.sw-mod-sn-attrlist .sw-mod-sn-attrlist-title{float:left;padding:9px 0 0 10px;width:64px;text-align:right}
.sw-mod-sn-attrlist .sw-mod-sn-list-body{float:left;position:relative;padding:9px 0 0 20px;background-color:#fbfbfb;width:893px}
.sw-mod-sn-attrlist .sn-clear{width:100%;height:0;clear:both;overflow:hidden}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items{width:810px}
.sw-layout-w1180 .sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items{width:1000px}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items li{display:block;float:left;height:27px;margin:0 5px 0 0;width:105px}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items li.imgattr{height:80px}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items li.imgattr img{display:block;border:1px solid #eaeaea}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items li.imgattr span{float:left;margin-top:5px;cursor:pointer;display:block;text-align:center}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items li.imgattr span:hover{text-decoration:underline}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items li a.noimg{margin-top:25px}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items li.more{display:none}
.sw-mod-sn-attrlist .sw-mod-sn-list-body.sn-morelist .sw-mod-sn-list-items li.more{display:block}
.sw-mod-sn-attrlist .sw-mod-sn-list-body .sw-mod-sn-list-items li a{height:16px}
.sw-mod-sn-attrlist .sw-mod-sn-list-items i{color:#999;font-style:normal}
.sw-mod-sn-attrlist .sw-mod-sn-showmorebtn{background-position:0 -20px;color:#666!important;height:20px;line-height:20px;padding:0 0 0 20px;position:absolute;right:0;top:10px;width:30px;cursor:pointer}
.sw-mod-sn-attrlist .sw-mod-sn-showmorebtn:hover{color:#ff7300!important;background-position:0 -60px}
.sw-mod-sn-attrlist .sw-mod-sn-list-body.sn-morelist .sw-mod-sn-showmorebtn{background-position:0 -40px}
.sw-mod-sn-attrlist .sw-mod-sn-list-body.sn-morelist .sw-mod-sn-showmorebtn:hover{background-position:0 -80px}
.sw-layout-w1180 .sw-mod-sn-attrlist .sw-mod-sn-list-body{width:1073px}
.sw-mod-sn-attrlist.moreattribute{background-color:#fbfbfb;border:0}
.sw-mod-sn-attrlist.moreattribute .sw-mod-sn-list-body{padding:2px 4px 6px 16px;z-index:130}
.sw-mod-sn-selectattr{background:none repeat scroll 0 0 #eee;border-bottom:1px solid #e4e4e4}
.sw-mod-sn-selectattr .selecttitle{float:left;padding:8px 0 0 10px;font-weight:700}
.sw-mod-sn-selectattr .selectattribute{float:left;width:880px;padding:0 5px 0 18px}
.sw-mod-sn-selectattr .selectattribute a{background-color:#fff;background-position:right -132px;border:1px solid #ff6a00;color:#2a2a2a;display:inline-block;height:18px;line-height:18px;margin:6px 10px 6px 0;padding-left:6px;padding-right:18px}
.sw-mod-sn-selectattr .selectattribute a:hover{text-decoration:none;background-position:right -682px}
.sw-mod-sn-selectattr .selectattribute .attributeName{color:#999}
.sw-mod-sn-attrlist .sw-mod-sn-moreKey-hd{float:left;height:31px;width:72px;text-align:right;line-height:31px}
.sw-mod-sn-attrlist .sw-mod-sn-moreKey-bd{float:left}
.sw-mod-sn-attrlist .sw-mod-sn-moreKey-selectBox{float:left;position:relative;z-index:101}
.sw-mod-sn-attrlist .sw-mod-sn-moreKey-selectBox-hd{height:19px;line-height:19px;background-color:#fff;background-position:right -100px;border:1px solid #ddd;padding:0 20px 0 10px;margin:5px 0 0 0;cursor:pointer;float:left}
.sw-mod-sn-attrlist .sw-mod-sn-moreKey-selectBox-bd{position:absolute;left:0;top:25px;width:530px;padding:10px 10px 4px 10px;border:1px solid #ccc;background-color:#fff;display:none}
.sw-mod-sn-attrlist .sw-mod-sn-moreKey-selectBox-bd li{float:left;width:82px;margin:0 5px 6px 0}
.sw-mod-sn-attrlist .sw-mod-sn-moreKey-selectBox-hover .sw-mod-sn-moreKey-selectBox-hd{height:22px;line-height:24px;overflow:hidden;border-bottom:0;margin:3px 0 0 0;background-position:right -113px;position:relative;z-index:102}
.sw-mod-sn-attrlist .sw-mod-sn-moreKey-selectBox-hover .sw-mod-sn-moreKey-selectBox-bd{display:block}
.sw-mod-sn-search{margin-bottom:12px;display:none}
.sw-mod-sn-search-input{width:125px;height:22px;line-height:22px;padding-left:5px;border:1px solid #ececec;border-top:1px solid #ccc}
.sw-mod-sn-search-input-default{color:#cccbcb}
.sw-mod-sn-search-des{display:none;margin-top:14px;font-size:14px;color:#444}
.p4pBottom-head,.sw-list-clothing .sw-ui-tab .Tab li.cur,.sw-list-commodity .sw-ui-tab .Tab li.cur,.sw-list-home .sw-ui-tab .Tab li.cur,.sw-list-industrial .sw-ui-tab .Tab li.cur,.sw-list-material .sw-ui-tab .Tab li.cur,.sw-ui-tab,.sw-ui-tab .Tab li a:hover,.sw-ui-tab .Tab li.cur{background-image:url(../images/sell/tab-20120717.png)}
.sw-ui-tab .mode{position:absolute;width:200px;height:31px;right:0;top:0}
.sw-ui-tab{position:relative;background-repeat:repeat-x;height:31px;background-position:0 -288px;border-bottom:1px solid #e9721a}
.p4pBottom-head{background-position:0 -288px}
.sw-ui-tab-zero{margin-bottom:10px}
.sw-ui-tab .Tab{zoom:1}
.sw-ui-tab .Tab:after{content:"\0020";display:block;height:0;clear:both}
.sw-ui-tab .Tab li{position:relative;height:100%;line-height:30px;border-top:1px solid #eaeaea;float:left;text-align:center}
.sw-ui-tab .Tab li a{display:block;color:#000;padding:0 16px}
.sw-ui-tab .Tab li a:hover{text-decoration:none;background-position:0 -328px}
.sw-ui-tab .Tab li.cur{background-repeat:repeat-x;background-position:0 -247px;border-top:1px solid #e06a13;color:#fff;font-weight:700;padding:0 16px}
.sw-ui-tab .Tab a span.number{color:#888}
.sw-ui-tab .Tab li.cur .number{color:#fff}
.sw-ui-tab .Tab li .Corner-left{position:absolute;overflow:hidden;background-color:#dfdfdf;height:100%;width:1px;top:0;left:0}
.sw-ui-tab .Tab li .Corner-right{position:absolute;overflow:hidden;background-color:#dfdfdf;height:100%;width:1px;top:0;right:-1px}
.sw-ui-tab .Tab li.cur .Corner-left{background-color:#e06a13}
.sw-ui-tab .Tab li.cur .Corner-right{background-color:#e06a13}
.cssimage-end,.filter-bottom a.close,.filter-bottom a.close:hover,.sw-mod-distanceSelect,.sw-mod-distanceSelect-IP,.sw-mod-distanceSelect-IPdis1,.sw-mod-distanceSelect-IPdis2,.sw-mod-distanceSelect-IPdis3,.sw-mod-distanceSelect-IPdis4,.sw-mod-distanceSelect-IPdis5,.sw-mod-filter .Area,.sw-mod-filter .Area .Selected,.sw-mod-filter .Capital,.sw-mod-filter .Capital .Selected,.sw-mod-filter .biztype,.sw-mod-filter .biztype .Selected,.sw-mod-filter .buyoffer,.sw-mod-filter .buyoffer .Selected,.sw-mod-filter .count-order,.sw-mod-filter .count-order a,.sw-mod-filter .filt-quantity-begin,.sw-mod-filter .filter-distanceSelet,.sw-mod-filter .membership,.sw-mod-filter .membership .Selected,.sw-mod-filter .price-order,.sw-mod-filter .price-order a,.sw-mod-filter .price-order a:link,.sw-mod-filter .price-order a:visited,.sw-mod-filter .priceinfo,.sw-mod-filter .priceinfo .Selected,.sw-ui-area-box .ab-prov .item a,.sw-ui-area-box .ab-prov .show a,a.select-img,a.select-img:hover,a.select-map,a.select-map:hover,a.select-noimg,a.select-noimg:hover,a.select-window,a.select-window:hover,a.selected-img,a.selected-map,a.selected-noimg,a.selected-window{background-image:url(../images/sell/filter-20120920.png);background-repeat:no-repeat}
.filter-bottom a.close{background-position:0 -1256px;position:absolute;width:13px;height:13px;bottom:-7px;right:-7px;display:block;cursor:pointer}
.filter-bottom a.close:hover{background-position:0 -1279px}
.sw-mod-filter .filter-bottom.hasBorder{border-top:1px solid #e9721a}
.sw-mod-shopfilter{border-top:1px solid #ffe2bd}
.fd-hide{display:none!important}
a.select-img,a.select-map,a.select-noimg,a.select-window,a.selected-img,a.selected-map,a.selected-noimg,a.selected-window{float:right;height:31px}
a.select-map{width:66px;background-position:0 -1353px}
a.select-map:hover{background-position:0 -1395px}
a.selected-map{width:66px;background-position:0 -1437px}
a.select-img{width:65px;background-position:0 -285px}
a.select-noimg{width:65px;background-position:0 -537px}
a.select-noimg:hover{background-position:0 -579px}
a.selected-noimg{width:66px;margin-right:-1px;background-position:0 -621px}
a.selected-img{width:66px;margin-right:-1px;background-position:0 -369px}
a.selected-position-right{margin-right:0!important}
a.select-position-right{width:66px}
a.select-img:hover{background-position:0 -327px}
a.select-window{width:66px;background-position:0 -411px}
a.selected-window{width:66px;background-position:0 -495px}
a.select-window:hover{background-position:0 -453px}
.sw-mod-filter{width:100%;position:relative;z-index:125;background-color:#fffcf9}
.sw-mod-filter .filter-top{height:34px;position:relative;z-index:12;border-left:1px solid #ffe2bd;border-right:1px solid #ffe2bd}
.sw-mod-filter .filter-top.hasborderbottom{border-bottom:1px solid #ffe2bd}
.sw-mod-filter .filter-top ul{margin:0 14px;height:100%;border-bottom:1px solid #ffe2bd}
.sw-mod-filter .filter-top ul.noborder{border:0}
.sw-mod-filter .filter-top ul.spu-f{border:0}
.sw-mod-filter .filter-top ul:after{content:"\0020";display:block;height:0;clear:both}
.sw-mod-filter .filter-bottom-wrap{height:40px}
.sw-mod-filter .filter-bottom{height:40px;border:1px solid #ffe2bd;border-top:0;background-color:#fffcf9;position:relative}
.spuDetail .filter-bottom{border:1px solid #ffe2bd!important}
.sw-mod-filter .filter-bottom li.filter-showBy{position:absolute;right:-5px;z-index:100;width:180px;margin-top:0}
.filter-showBy ul li a{color:#444!important;display:inline-block;font-weight:400;height:20px;line-height:20px;width:80px;text-align:center;background:0;background-color:#f5f5f5}
.filter-showBy ul li a.current{background-position:0 -624px;font-weight:700}
.filter-showBy ul li a.current:hover{text-decoration:none}
.filter-showBy ul li.first{border-bottom-right-radius:0;border-top-right-radius:0}
.filter-showBy ul li.last{border-bottom-left-radius:0;border-left:0 none;border-top-left-radius:0}
.filter-showBy ul li{border:1px solid #b7b7b7;border-radius:2px 2px 2px 2px;float:left;height:20px;line-height:20px}
.sw-mod-filter .filter-scroll{z-index:999!important;position:fixed!important;top:0!important;box-shadow:0 2px 2px #eaeaea}
.sw-layout-w990 .sw-mod-filter .filter-scroll{width:988px!important}
.sw-layout-w1180 .sw-mod-filter .filter-scroll{width:1178px!important}
.sw-mod-filter .filter-top li{float:left;margin-right:16px;list-style-type:none}
.sw-mod-filter .filter-bottom .wangwang,.sw-mod-filter .filter-top .wangwang{vertical-align:middle}
.sw-mod-filter .mode{display:none}
.sw-mod-filter .filter-top li.days-select{line-height:25px;padding-top:5px;margin-right:40px}
.sw-mod-filter .check-box{line-height:25px;padding-top:5px}
.sw-mod-filter .check-box.pd0{padding-top:0}
.sw-mod-filter .check-box label{cursor:pointer;padding-right:0;white-space:nowrap}
.sw-mod-filter .check-box input{line-height:100%;margin-top:-2px;vertical-align:middle}
.sw-mod-filter .filt-select{margin:5px 0 0 12px;position:relative;z-index:99}
.sw-mod-filter .ensure .Selected span{width:67px}
.sw-mod-filter .ensure li{width:90px}
.sw-mod-filter .hover-memu .Select-item{display:block}
.sw-mod-filter .hover-memu .Selected span{background-position:right -198px}
.sw-mod-filter .filter-bottom li{float:left;list-style-type:none;margin-top:8px;display:inline}
.sw-mod-filter .filter-bottom li.mergeSuply{float:right;padding:0;padding-right:12px}
.sw-mod-filter .ensure{width:90px;margin:5px 0 0 12px}
.sw-mod-filter .filter-bottom .Alitalk,.sw-mod-filter .filter-bottom .Authentication,.sw-mod-filter .filter-bottom .Equipment,.sw-mod-filter .filter-bottom .creditflag{margin-left:14px;margin-top:11px}
.region-authentication,.sw-mod-filter .filter-bottom .Alitalk input,.sw-mod-filter .filter-bottom .Authentication input,.sw-mod-filter .filter-bottom .Equipment input,.sw-mod-filter .filter-bottom .creditflag input,.sw-ui-icon-payGuarantee{vertical-align:middle}
.sw-mod-filter .filter-bottom .Alitalk,.sw-mod-filter .filter-bottom .region-authentication,.sw-mod-filter .filter-bottom .sw-ui-icon-payGuarantee{color:#444!important}
.sw-mod-filter .count-order,.sw-mod-filter .filt-quantity-begin,.sw-mod-filter .price-order{background-position:0 -811px;height:23px;margin:4px 0 0 12px;padding-left:12px}
.sw-mod-filter .noleftspliteline{background:0 0!important;padding-left:8px!important}
.sw-mod-filter .filter-distanceSelet{background-position:0 -811px;padding-left:12px}
.sw-mod-filter .count-order label,.sw-mod-filter .price-order label{height:21px;line-height:21px;float:left;margin-right:6px}
.sw-mod-filter .count-order a,.sw-mod-filter .price-order a{display:inline-block;height:23px;line-height:23px;border:0;width:23px;float:left;background-position:-1px -1px}
.sw-mod-filter .price-order a{width:22px;background-position:-24px -102px}
.sw-mod-filter .price-order a:hover{background-position:-24px -136px}
.sw-mod-filter .price-order a.price-asc,.sw-mod-filter .price-order a.price-asc:hover{background-position:-24px -170px}
.sw-mod-filter .price-order a.price-desc{background-position:-1px -102px;width:23px}
.sw-mod-filter .price-order a.price-desc:hover{background-position:-1px -136px}
.sw-mod-filter .price-order a.price-desc-select,.sw-mod-filter .price-order a.price-desc-select:hover{background-position:-1px -170px}
.sw-mod-filter .count-order a:hover{background-position:-1px -35px}
.sw-mod-filter .count-order a.count-desc{background-position:-1px -69px}
.sw-mod-filter .price-grid{margin-left:14px;position:relative;width:139px;zoom:1}
.sw-mod-filter .price-grid:after{content:"\0020";display:block;height:0;clear:both}
.sw-mod-filter .price-grid .price-range{line-height:normal;position:absolute;color:#666}
.sw-mod-filter .price-grid .price-range input{width:54px;padding:0 2px;border:1px solid #ececec;border-top:1px solid #ccc;height:21px;line-height:21px;color:#b4b3b3}
.sw-mod-filter .price-grid .price-range .blur{color:#333}
.sw-mod-filter .price-grid .price-range label{position:absolute;top:0;right:12px;text-align:right;display:none}
*+.filter-distanceSelet span{margin-top:2px}
.sw-mod-filter .price-grid .price-range p{display:none;padding-top:6px;text-align:center}
.sw-mod-filter .price-grid .button{float:right;margin-right:20px;margin-top:6px}
.sw-mod-filter .price-grid .price-selected{background-color:#fff;border:1px solid #a9a9a9;height:58px;margin-top:-8px;padding:8px 5px 0 5px;left:-6px;z-index:100}
.sw-mod-filter .price-grid .price-selected label{display:block}
.sw-mod-filter .price-grid .price-selected p{display:block}
.sw-mod-filter .filt-quantity-begin{position:relative;width:120px;margin-left:5px}
.sw-mod-filter .filt-quantity-begin .below{left:96px;line-height:21px;padding:0 4px;position:absolute}
.sw-mod-filter .filt-quantity-begin input{width:36px;padding:0 2px;border:1px solid #ececec;border-top:1px solid #ccc;height:21px;line-height:21px;vertical-align:middle}
.sw-mod-filter .filt-quantity-begin label{line-height:23px;padding-right:5px;position:absolute}
.sw-mod-filter .quantity-range{left:48px;line-height:normal;position:absolute;text-align:center;width:50px}
.sw-mod-filter .filt-quantity-begin.price-selected .quantity-range{background-color:#fff;border:1px solid #a9a9a9;height:58px;margin-top:-8px;padding-top:6px;z-index:100}
.sw-mod-filter .filt-quantity-begin.price-selected .quantity-range .sw-ui-btn-g23{display:inline-block;margin-top:5px;width:35px;padding-left:6px}
.sw-mod-filter .filt-quantity-begin.price-selected .quantity-range .sw-ui-btn-g23 span{padding-right:6px}
.sw-mod-filter .filt-quantity-begin.price-selected .quantity-range p{text-align:center}
.sw-mod-filter .quantity-range .sw-ui-btn-g23{display:none}
.sw-mod-filter .Area,.sw-mod-filter .Capital,.sw-mod-filter .biztype,.sw-mod-filter .buyoffer,.sw-mod-filter .membership,.sw-mod-filter .priceinfo{background-position:right -697px}
.sw-mod-filter .Area{margin:6px 0 6px 14px;width:98px}
.sw-mod-filter .Area .Current{display:inline-block;padding-left:5px}
.sw-mod-filter .Area .Selected,.sw-mod-filter .Capital .Selected,.sw-mod-filter .biztype .Selected,.sw-mod-filter .buyoffer .Selected,.sw-mod-filter .membership .Selected,.sw-mod-filter .priceinfo .Selected{background-position:0 -663px;display:inline-block;border:0;overflow:hidden;width:76px}
.sw-mod-filter .buyoffer .Selected,.sw-mod-filter .membership .Selected,.sw-mod-filter .priceinfo .Selected{width:99px}
.Equipment .sysEquipment{background-position:0 -1838px;height:17px;line-height:16px;padding-left:18px;vertical-align:middle}
.sw-mod-filter .Area .Selected .wgt-areabtn{color:#333;text-decoration:none}
.sw-mod-filter .Capital,.sw-mod-filter .biztype{margin:6px 0 6px 10px;width:98px}
.sw-mod-filter .biztype .Select-item{width:98px}
.sw-mod-filter .wangwang label{background-position:0 -238px;display:inline-block;padding-left:20px}
.sw-mod-filter .check-box label{cursor:pointer;padding-right:0;white-space:nowrap}
.sw-mod-filter .hidden{display:none}
.sw-mod-filter .sw-ui-select{height:24px}
.sw-mod-filter .count-order a:hover,.sw-mod-filter .sw-ui-select:hover{border-radius:2px;box-shadow:0 0 2px #a8a8a8}
.sw-mod-filter .Area:hover,.sw-mod-filter .biztype:hover{background-position:right -767px}
.sw-mod-filter .Area .Selected:hover,.sw-mod-filter .biztype .Selected:hover{background-position:0 -731px}
.sw-mod-filter .price-order a.price-desc:hover{border-radius:2px 0 0 2px}
.sw-mod-filter .price-order a:hover{box-shadow:0 0 2px #a8a8a8;border-radius:0 2px 2px 0}
.filt-quantity-begin p .sw-ui-btn-g23,.filt-quantity-begin p .sw-ui-btn-g23 span,.price-grid p .sw-ui-btn-g23,.price-grid p .sw-ui-btn-g23 span{background:0;height:22px;line-height:20px}
.filt-quantity-begin p .sw-ui-btn-g23:hover,.price-grid p .sw-ui-btn-g23:hover{box-shadow:0 0 2px #a8a8a8}
.filt-quantity-begin p .sw-ui-btn-g23,.filt-quantity-begin p .sw-ui-btn-g23:hover,.price-grid p .sw-ui-btn-g23,.price-grid p .sw-ui-btn-g23:hover{background-color:#f7f7f7;border:1px solid #c6c6c6;cursor:pointer}
.sw-mod-filter .buyoffer,.sw-mod-filter .membership,.sw-mod-filter .priceinfo{width:122px;margin:6px 0 6px 12px}
.sw-mod-filter .buyoffer .Select-item,.sw-mod-filter .membership .Select-item,.sw-mod-filter .priceinfo .Select-item{width:122px}
.sw-mod-filter .filt-storage{margin-left:8px;position:relative;width:140px}
.sw-mod-filter .filt-storage .above{left:114px;line-height:21px;padding:0 0 0 4px;position:absolute;width:30px}
.sw-mod-filter .filt-storage input{width:60px;border:1px solid #a9a9a9;float:left;font-size:12px;height:19px;line-height:19px;padding:0 2px;vertical-align:middle}
.sw-mod-filter .filt-storage label{line-height:21px;padding-right:5px;position:absolute}
.sw-mod-filter .storage-range{left:50px;line-height:normal;position:absolute;width:65px}
.sw-mod-filter .price-selected .storage-range{background-color:#fff;border:1px solid #a9a9a9;height:55px;left:45px;margin-top:-8px;padding:8px 0 0 3px;width:68px;z-index:100}
.sw-mod-filter .price-selected .storage-range .sw-ui-btn-g23{display:block;margin-top:5px;width:45px}
.sw-mod-filter .storage-range .sw-ui-btn-g23{bottom:5px;left:8px;margin:0;position:absolute;display:none}
.sw-mod-filter .spu-f-input-m,.sw-mod-filter .spu-f-input-s{width:70px}
.sw-mod-filter .filter-bottom .filt-storage{padding-left:12px;height:21px}
.sw-mod-navigatebar{clear:both;line-height:20px;margin-bottom:10px;border:0;background:0}
.sw-mod-navigatebar i{font-size:0;width:6px;background:0;margin:0}
.sw-mod-navigatebar .header-splitLine{height:3px;clear:both;margin-top:16px;background-color:#ff6a00;border-bottom:1px solid #ededed;overflow:hidden}
.sw-mod-navigatebar.selloffer ul:after{display:block;clear:both;height:0}
.sw-mod-navigatebar.selloffer .activityLogo{float:right;background-image:none;position:relative;height:40px;margin-top:-12px}
.sw-mod-navigatebar.selloffer .activityLogo a{position:absolute;display:block;width:100px;height:40px;left:-55px;top:-1px}
.cssimage-end,.sw-mod-navigatebar.selloffer ul li{background-image:url(../images/icon-20120911.png)}
.sw-mod-navigatebar{clear:both;line-height:20px;margin-bottom:10px;border:0;background:0}
.sw-mod-navigatebar i{font-size:0;width:6px;background:0;margin:0}
.sw-mod-navigatebar .header-splitLine{height:3px;clear:both;margin-top:16px;background-color:#ff6a00;border-bottom:1px solid #ededed;overflow:hidden}
.sw-mod-navigatebar.selloffer ul:after{display:block;clear:both;height:0}
.sw-layout-w990 .sw-mod-navigatebar ul{width:990px;margin-left:auto;margin-right:auto}
.sw-layout-w1180 .sw-mod-navigatebar ul{width:1180px;margin-left:auto;margin-right:auto}
.sw-mod-navigatebar{position:relative;z-index:199}
.sw-mod-navigatebar ul li{float:left;background-repeat:no-repeat;background-position:0 6px;height:20px;padding:0 12px;line-height:20px}
.sw-mod-navigatebar ul li a{color:#444}
.sw-mod-navigatebar .result{float:right;padding-right:0;color:#444;background-image:none!important;padding-left:40px}
.sw-mod-navigatebar .result.searchtop{padding-right:190px}
.sw-mod-navigatebar .result em{color:#ff7300;font-weight:700}
.sw-mod-navigatebar .result h1{display:inline;font-weight:700}
.sw-mod-navigatebar ul li h1 a{color:#666}
.sw-mod-navigatebar .whole,.sw-mod-navigatebar .wholeCat{background-image:none!important;padding-left:0;padding-right:12px;border:0!important}
.sw-mod-navigatebar.selloffer .staticCatArea{background-position:60px -184px;margin-right:10px}
.sw-layout-w990 .sw-layout-doc{width:990px;margin:0 auto}
.sw-layout-w990 .sw-mod-navigatebar ul{width:1190px;margin-left:auto;margin-right:auto}
.sw-layout-w990 .sw-mod-staticCatoryArea{width:988px}
.sw-layout-w990 .sw-mod-hotRecommend-staticCatoryArea-content-catogery,.sw-layout-w990 .sw-mod-staticCatoryArea-Content-catogery{width:270px}
.sw-layout-w990 .sw-mod-filter .filter-bottom.filter-bottom-scroll{width:988px}
.sw-layout-w1180 .sw-mod-navigatebar ul{width:1180px;margin-left:auto;margin-right:auto}
.sw-mod-navigatebar ul li{float:left;background-repeat:no-repeat;background-position:0 -462px;overflow:hidden;height:20px;padding:0 12px;line-height:20px}
.sw-mod-navigatebar ul li a{color:#444}
.sw-mod-navigatebar.selloffer .logo919{float:right;background-image:none;position:relative;height:40px;margin-top:-12px}
.sw-mod-navigatebar.selloffer .logo919 a{position:absolute;width:100px;height:40px;display:block;left:-55px;top:-3px}
.sw-mod-navigatebar .result{float:right;padding-right:0;color:#444;background-image:none;padding-left:40px}
.sw-mod-navigatebar .result.searchtop{padding-right:190px}
.sw-mod-navigatebar .result em{color:#ff7300;font-weight:700}
.sw-mod-navigatebar .result h1{display:inline;font-weight:700}
.sw-mod-navigatebar ul li h1 a{color:#666}
.sw-mod-navigatebar .whole,.sw-mod-navigatebar .wholeCat{background-image:none;padding-left:0;padding-right:12px;border:0!important}
.sw-mod-navigatebar.selloffer .staticCatArea{background-position:right -664px;margin-right:10px}
.sw-mod-related{background-repeat:repeat-x;background-position:0 -493px;border:1px solid #eaeaea;height:30px;line-height:30px;margin-bottom:8px;margin-top:8px;overflow:hidden;display:block}
.sw-mod-related strong{margin:0 0 0 8px;font-weight:400}
.sw-mod-related a{padding:0 10px;display:inline-block}
.sw-mod-related a.publish{float:right;white-space:nowrap}
.sw-mod-related .tongueChina a{padding:0 10px;display:inline-block;border-right:1px solid;border-color:#d9d9d9}
.keywords-qrw{height:53px;line-height:53px;overflow:hidden;border:1px solid #ffdf9c;background-color:#ffffd9;margin-bottom:8px;padding-left:16px;font-weight:700;color:#818181;font-size:14px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.keywords-qrw em{color:#fe5600}
.sw-mod-pagination .pagination{font-family:Tahoma;font-size:12px;height:35px;clear:both;overflow:hidden;text-align:center}
.sw-mod-pagination .pagination .page-bottom,.sw-mod-pagination .pagination form{display:inline-block;zoom:1;vertical-align:middle}
.sw-mod-pagination .pagination .page-break,.sw-mod-pagination .pagination .page-cur,.sw-mod-pagination .pagination .page-end,.sw-mod-pagination .pagination .page-next,.sw-mod-pagination .pagination .page-prev,.sw-mod-pagination .pagination .page-start,.sw-mod-pagination .pagination a,.sw-mod-pagination .pagination a:link,.sw-mod-pagination .pagination a:visited{float:left;height:28px;line-height:28px;padding:0 9px;text-align:center;vertical-align:middle;white-space:nowrap;font-size:14px}
.sw-mod-pagination .pagination .page-bottom:after{content:"\0020";display:block;height:0;clear:both}
.sw-mod-pagination .pagination .page-cur{border:1px solid #ccc;color:#ff7300;border-right:0;font-weight:700;background-color:#f8f8f8}
.sw-mod-pagination .pagination a,.sw-mod-pagination .pagination a.page-next{border:1px solid #ccc;font-size:12px;border-right:0}
.sw-mod-pagination .pagination a:hover{text-decoration:none;color:#ff7300}
.sw-mod-pagination .pagination .page-break{border-left:1px solid #ccc;height:30px}
.sw-mod-pagination .pagination .page-start,.sw-mod-pagination .pagination a.page-next,.sw-mod-pagination .pagination a.page-prev{width:55px;padding:0;font-size:12px;margin-right:10px;border:1px solid #ccc}
.sw-mod-pagination .pagination .page-start{color:#ddd}
.sw-mod-pagination .pagination a.page-prev:hover{border:1px solid #ff7300;text-decoration:none}
.sw-mod-pagination .pagination .page-end{border:1px solid #ddd;padding:0 5px;padding-right:16px;color:#ddd;font-size:12px}
.page-op{color:#444}
.page-op #jumpto{width:32px;text-align:center;border:1px solid #ececec;border-top:1px solid #ccc;color:#000;font-family:Tahoma,SimSun,Arial;height:20px;margin:0 4px 5px;text-align:center;vertical-align:middle}
.page-op #jump-sub{height:25px;margin:0 0 2px 8px;width:43px;cursor:pointer;background-color:#f5f5f5;border:1px solid #b2b2b2}
.page-op #jump-sub:hover{border-radius:2px;box-shadow:0 0 2px #a8a8a8;background-color:#f8f8f8;border:1px solid #c6c6c6}
.page-op .total-page{padding-right:8px}
.page-op .total-page b{font-weight:700}
.sw-mod-bottomsearch{border:1px solid #fff7e5;background-color:#fbf5f1;width:100%;height:105px}
.sw-mod-bottomsearch .bottom-search-content{height:70px;margin:24px auto 0;text-align:left;width:570px}
.sw-mod-bottomsearch .bottom-search-tabs{height:22px;line-height:20px;width:450px}
.sw-mod-bottomsearch .bottom-search-tabs li{float:left;height:16px;line-height:1.5;text-align:center;cursor:pointer;width:58px;border-left:1px solid #eaeaea}
.sw-mod-bottomsearch .bottom-search-tabs li.no_ml{padding-left:4px;border:0}
.sw-mod-bottomsearch .bottom-search-tabs li span{border-bottom:0 none;color:#ff7300;font-weight:700;position:relative}
.sw-mod-bottomsearch .bottom-search-tabs li a:link,.sw-mod-bottomsearch .bottom-search-tabs li a:visited{color:#555;text-decoration:none}
.sw-mod-bottomsearch .bottom-search-tabs li a:hover{color:#f50}
.sw-mod-bottomsearch .bottom-search-content{height:30px}
.sw-mod-bottomsearch .bottom-search-content .s_key{float:left;border:3px solid #ff7300;border-right:0;height:28px;line-height:28px;padding:0 3px;vertical-align:middle;width:453px;overflow:hidden}
.sw-mod-bottomsearch .bottom-search-content .butheight{background-color:#ff7601;border:medium none;color:#fff;cursor:pointer;float:left;font-size:16px;height:34px;letter-spacing:4px;line-height:34px;position:relative;width:100px;font-family:"微软雅黑","黑体","文泉驿正黑体","华文细黑"}
.sw-mod-moreInfo{height:16px;line-height:16px;text-align:center;margin-top:12px;margin-bottom:16px;color:#444}
.sw-mod-moreInfo .suggestion-btn:active,.sw-mod-moreInfo .suggestion-btn:hover,.sw-mod-moreInfo .suggestion-btn:link,.sw-mod-moreInfo .suggestion-btn:visited{color:#333;text-decoration:none}
.sw-mod-moreInfo .suggestion-btn{background-image:url(../images/sell/3042_110323176.png);background-position:10px 0;background-repeat:no-repeat;color:#333;display:inline-block;height:23px;line-height:23px;text-align:center;width:95px}
.bottomMoreInfo span,.sw-mod-moreInfo a{padding:0 11px;border-right:1px solid #ddd;height:23px}
.sw-mod-moreInfo a.slashend{padding:0 11px;border:0}
.sw-mod-moreInfo span{color:#9c9c9c}
.sw-mod-moreInfo .end{border:0}
.sw-mod-moreInfo i{background-position:0 0;width:16px;height:19px;vertical-align:middle;padding-right:3px}
.sw-mod-interest{height:30px;line-height:30px;clear:both;overflow:hidden;background-position:0 -493px;background-repeat:repeat-x;border:1px solid #d9d9d9;padding-left:10px;display:block}
.sw-mod-interest a{display:inline-block;padding:0 10px}
.sw-mod-surence{margin-top:25px}
.sw-mod-surence .product-pro li{display:block;float:left;height:20px;line-height:20px;margin-left:6px;padding-right:8px}
.sw-mod-surence .product-pro{margin:0 auto;width:540px}
.sw-mod-surence .product-pro a{cursor:pointer;height:20px;line-height:20px;vertical-align:middle}
.sw-mod-surence .product-pro .trust-brand a{padding-left:42px}
.sw-mod-surence .product-pro .trust-brand{width:150px}
.sw-mod-surence .product-pro .guarantee{width:135px}
.sw-mod-surence .product-pro .alipay{padding-right:0;width:154px}
.go-topbtn{cursor:pointer;height:73px;width:27px}
.go-topbtn a{display:block;height:73px;width:27px;background-position:0 -302px}
.go-topbtn a:hover{background-position:0 -385px}
.go-topbtn span{display:none}
.cssimage-end,.p4p-morehot-btn a,.p4pBottom-head,.p4pBottom-morehotBtn a,.rightp4p .p4poffer .bold .rmb,.rightp4p .p4poffer .nbold .nrmb,.rightp4pHead,.sw-mod-whitegold .expo-hd,.sw-ui-moreSuggest a{background-image:url(../images/sell/main.default.gold.20120918.png);display:inline-block}
.sw-mod-whitegold{margin-bottom:8px}
.sw-mod-whitegold .expo-hd,.sw-mod-whitegold .expo-title{width:178px;height:32px;font:700 14px/32px "宋体"}
.sw-mod-whitegold .expo-title{float:left;cursor:pointer}
.sw-mod-whitegold .expo-title,.sw-mod-whitegold .expo-title span{display:inline-block;width:129px}
.sw-mod-whitegold .expo-title span{text-indent:10px}
.sw-mod-whitegold .expo-hd .expo-login{float:right;height:32px;width:30px;text-align:center;position:static;display:inline-block;line-height:32px;white-space:normal;padding:0 5px 0 0}
.sw-mod-whitegold .expo-hd .expo-login:active,.sw-mod-whitegold .expo-hd .expo-login:link,.sw-mod-whitegold .expo-hd .expo-login:visited,.sw-mod-whitegold .expo-title:active,.sw-mod-whitegold .expo-title:link,.sw-mod-whitegold .expo-title:visited{color:#FFF}
.sw-mod-whitegold .expo-hd{background-position:0 0;background-repeat:repeat-x;height:29px;margin-bottom:0;overflow:hidden;position:relative;border-left:1px solid #f5750c;border-right:1px solid #f5750c}
.sw-mod-keywordHotTop{border:1px solid #eaeaea;background-color:#fcfcfc}
.sw-mod-keywordHotTop h3{display:block;text-indent:8px;font-size:15px;font-weight:700;line-height:32px;overflow:hidden;color:#444;height:32px;border-bottom:1px solid #eaeaea;background-color:#f1f1f1}
.sw-mod-keywordHotTop ul li{margin:0 6px;padding:7px 0;border-bottom:1px dotted #dcdcdc;zoom:1}
.sw-mod-keywordHotTop li i{width:16px;height:16px;line-height:16px;text-align:center;font-weight:500;font-style:normal;font-size:10px;-webkit-text-size-adjust:none;color:#fff;display:inline-block;margin-right:3px;vertical-align:middle}
.sw-mod-keywordHotTop-num1{background-color:#ffa81c}
.sw-mod-keywordHotTop-num2{background-color:#aaa}
.sw-mod-keywordHotTop-num1 span,.sw-mod-keywordHotTop-num2 span{display:block;height:16px;line-height:16px;overflow:hidden;text-align:center}
.sw-mod-keywordHotTop .Last{border:0}
.sw-layout-mod{zoom:1;clear:both;margin-bottom:8px}
.sw-layout-mod:after{display:block;clear:both;height:0;content:"\0020"}
.p4p-morehot-btn{height:19px;text-align:right;padding-right:6px}
.p4p-morehot-btn a{display:inline-block;width:67px;height:19px;background-position:0 -42px}
.bzBox,.hzBox{width:156px;height:260px;border:1px solid #d5dade;text-align:center;margin-bottom:8px;position:relative;overflow:hidden;background-color:#FFF}
.bzBox{padding:8px 11px;background-color:#eaeaea}
.bzBox .box{border:1px solid #d8d8d8;background-color:#FFF;width:156px;overflow:hidden}
.icon-list a{margin-right:3px}
.sw-layout-sub .showImg{width:316px;height:189px}
.sw-layout-sub .showImg a{float:left;display:inline-block;height:189px;width:156px}
.sw-mod-gold{padding:8px 10px 0;background-color:#f1f1f1;border:1px solid #d8d8d8}
.rightbidBanner{border:1px solid #d8d8d8;height:146px;background-color:#f1f1f1;margin-top:-7px;margin-bottom:7px}
.sw-layout-sub .hzCompName{background-color:#b14753;color:#FFF;height:23px;line-height:23px}
.sw-layout-sub .companyname a.hzCompName{color:#FFF;text-decoration:none}
.p4p-search-img .p4p-content li h3{height:32px}
.rightp4p{border-top:0 none}
#rightp4pUl{padding:0}
.rightp4pHead{background-position:0 0;background-repeat:repeat-x;width:178px;height:30px;font:700 14px/32px "宋体";color:#FFF;text-indent:10px;border-left:1px solid #f5750c;border-right:1px solid #f5750c;border-top:1px solid #f5750c}
.rightp4pHead a,.rightp4pHead a:active,.rightp4pHead a:hover,.rightp4pHead a:link,.rightp4pHead a:visited{color:#FFF;text-decoration:none}
.rightp4p li{padding:14px 0 6px 0;border-top:1px dotted #d9d9d9}
.rightp4p .p4pImg{border:1px solid #DDD;margin:0 auto;position:relative}
.rightp4p .top{padding:10px 0 6px 0;border:0}
.rightp4p .p4poffer div{height:152px;width:152px;text-align:center;background-color:#FFF}
.rightbidBanner .bidBannerImg{margin-top:7px;padding:0;background-color:#f1f1f1;text-align:center}
.sw-ui-moreSuggest{background-image:none;text-align:right;padding:4px 0;height:auto;margin:0 4px 0 0;border-top:1px dashed #d9d9d9}
.sw-ui-moreSuggest a{background-position:0 -42px;display:inline-block;height:19px;overflow:hidden;line-height:2000px;width:67px}
.hzBox .ww_icon{width:20px;margin-top:-2px;overflow:hidden;padding:0;text-indent:-1000px}
.sw-mod-gold a.wangwang{display:inline-block;width:21px;height:18px}
.filter-result{line-height:28px;border:1px solid #ffdfb6;background-color:#fff9ef;margin:8px 0 8px 0;padding-left:16px;color:#666}
.filter-result em{color:red;font-weight:700}
.mutualityproduct .mutualityproduct-hd{background-position:0 -608px!important;height:30px}
.pic-offer:after{clear:both;content:" ";display:block;height:0}
.pic-offer ul.shopwindowPic{padding-top:10px}
.pic-offer .item{display:inline-block;float:left;margin-right:18px;width:175px;height:245px;margin-bottom:30px}
.pic-offer .item .photo{border:1px solid #CCC;border-radius:2px 2px 2px 2px;height:150px;overflow:hidden;padding:8px;width:150px}
.pic-offer .item .photo a{display:table-cell;height:150px;width:150px;text-align:center;vertical-align:middle;font:12px/1 Tahoma,Helvetica,Arial}
.pic-offer .item .photo img{vertical-align:middle;box-shadow:1px 1px 3px #999}
.pic-offer a:hover{color:#e63312}
.pic-offer .item .summary{height:40px;line-height:18px;margin-top:10px;overflow:hidden;width:175px;font-size:12px}
.pic-offer .item em{color:red;font-weight:700}
.pic-offer .item p{color:#999}
body,button,input,select,textarea{font:12px/1.5 Tahoma,Helvetica,Arial,"宋体",sans-serif}
a,a:link,a:visited{color:#00349A;text-decoration:none}
a:hover{color:#e63312;text-decoration:underline}
a.current{color:#e63312}
a.current:hover{text-decoration:none}
.sw-layout-180-800,.sw-layout-800-180{width:1190px;margin:0 auto}
.related-search{line-height:12px;width:760px}
.related-search a:link,.related-search a:visited{color:#00349a;text-decoration:none}
.related-search a:hover{color:#e63312;text-decoration:underline}
.sw-layout-content{clear:both;width:100%}
.hasMarginBottom{margin-bottom:8px}
.sw-layout-content:after{display:block;clear:both;height:0;content:"\0020"}
.offerList{float:left;width:990px;padding-top:10px}
#nleftfunction{float:right;margin-top:10px;width:180px;overflow:hidden}
.sw-layout-sub{float:right;width:180px}
.Clear{height:1px;background-color:transparent;overflow:hidden;clear:both}
.info-offer{margin-bottom:8px;padding-top:10px}
.info-offer a:hover{color:#e63312;text-decoration:underline}
.info-offer .offer-content{border-bottom:1px solid #E5E5E5;margin-bottom:16px;overflow:visible;padding-bottom:16px;padding-left:10px}
.info-offer .titlesearch{font-family:"宋体";font-size:14px;vertical-align:text-top;margin-bottom:8px}
.info-offer .titlesearch em{color:red}
.info-offer .photo{border:1px solid #ccc;height:80px;overflow:hidden;padding:1px;width:80px;margin-right:16px;float:left}
.info-offer .photo a{display:table-cell;font:12px/1 Tahoma,Helvetica,Arial;height:80px;text-align:center;vertical-align:middle;width:80px}
.info-offer .param-group{color:#666;line-height:20px;padding-bottom:6px}
.info-offer .mark{color:#999}
.info-offer .mark a:link,.info-offer .mark a:visited{color:#06c}
.info-offer .mark em{padding-left:30px}
.input{float:left; line-height:35px; height:45px;}