body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea {
	font: 12px/1.5 "\5B8B\4F53",sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

address,cite,dfn,em,var,i {
	font-style: normal;
}

code,kbd,pre,samp {
	font-family: courier new,courier,monospace;
}

small {
	font-size: 12px;
}

ul,ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,img {
	border: 0;
}

button,input,select,textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.w990 {
	width: 1190px;
}

.col-infomain {
	float: left;
	width: 100%;
	min-height: 1px;
}

.col-infosub,.col-extra {
	float: left;
}

.layoutinfo:after,.main-wrap:after,.col-infosub:after,.col-extra:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

.layoutinfo,.main-wrap,.col-infosub,.col-extra {
	*zoom: 1;
}

#header {
	padding: 0;
}

a {
	color: #000;
	text-decoration: none
}

a:hover {
	color: #f60;
}

#site-nav a {
	color: #3E3E3E;
}

#site-nav a:hover {
	color: #BA2636;
}

.cBlushPink a {
	color: #a947a9
}

.cBlushPink a:hover {
	color: #BA2636;
}

.cRed,.cRed a {
	color: Red;
}

.cNavy,.cNavy a {
	color: #004a49;
}

.cWhite,.cWhite a {
	color: #fff;
}

.titleBar a,.titleBar a:link {
	text-decoration: none;
}

.cDGray,.cDGray a {
	color: #727171;
}

.cGreen,.cGreen a {
	color: #2b5213;
}

.text {
	display: block;
	height: 20px;
	text-indent: -999em;
	overflow: hidden;
}

.hidden {
	display: none;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

#site-nav,#header,#mNav,#content,.mCon01 .con {
	*zoom: 1;
}

#site-nav:after,#header:after,#mNav:after,#content:after,.mCon01 .con:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

#content {
	width: 1190px;
}

.content {
	margin-left: auto;
	margin-right: auto;
}

.left {
	float: left;
}

.f1 {
/*margin-top:10px;*/
}

.f2 {
	margin-top: 12px;
}

.banner-990 {
	width: 1190px;
	height: 75px;
	overflow: hidden;
	margin-top: 10px;
}

#content .w990 {
	float: left;
}

#mNav li a,.grid-m730s200 .main-wrap .tit01,#mTit li a {
	background: transparent url(../images/info/zspublic01.png) no-repeat 999em 0;
}

.grid-m730s200 {
	float: left;
	width: 1190px;
}

.grid-m730s200 .main-wrap {
	margin-right: 210px;
}

.grid-m730s200 .col-infosub {
	margin-left: -250px;
	width: 250px;
	margin-bottom:10px;
}

.grid-m730s200 .main-wrap .tit01 {
	width: 930px;
	height: 34px;
	background-position: 0 0;
	overflow: hidden;
}

.grid-m730s200 .main-wrap .tit01 strong {
	float: left;
	padding: 11px 0 0 32px;
	line-height: 16px;
	font-size: 14px;
	color: #202020;
}

.grid-m730s200 .main-wrap .con01 {
	border: #ff7400 solid 1px;
	border-top: none;
	width: 928px;
}

.grid-m730s200 .main-wrap .con01 ol {
	padding: 10px 0;
}

.grid-m730s200 .main-wrap .con01 li {
	float: left;
	width: 182px;
	margin: 10px 0;
}

.grid-m730s200 .main-wrap .con01 li .imgCon {
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding: 3px;
	border: 1px solid;
	border-color: #e2e2e2 #e2e2e2 #e5e5e5;
}

.grid-m730s200 .main-wrap .con01 li .img {
	width: 160px;
	height: 100px;
	overflow: hidden;
}

.grid-m730s200 .main-wrap .con01 li .img img {
	width: 160px;
}

.grid-m730s200 .main-wrap .con01 li .box {
	width: 160px;
	overflow: hidden;
	text-align: center;
	line-height: 22px;
	height: 22px;
	overflow: hidden;
}

.grid-m730s200 .main-wrap .con02 {
	width: 930px;
	overflow: hidden;
}

.grid-m730s200 .main-wrap .con02 ol {
	width: 944px;
	margin-left: -14px;
}

.grid-m730s200 .main-wrap .con02 li {
	float: left;
	display: inline;
	width: 172px;
	margin: 12px 0 0 14px;
}

.grid-m730s200 .main-wrap .con02 li .imgCon {
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding: 5px;
	border: 1px solid;
	border-color: #e2e2e2 #e2e2e2 #e5e5e5;
}

.grid-m730s200 .main-wrap .con02 li .img {
	width: 160px;
	height: 100px;
	overflow: hidden;
}

.grid-m730s200 .main-wrap .con02 li .img img {
	width: 160px;
}

.grid-m730s200 .main-wrap .con02 li .box {
	width: 160px;
	overflow: hidden;
	text-align: center;
	line-height: 22px;
	height: 22px;
	overflow: hidden;
}

.grid-m730s200 .col-infosub .con01 {
	border: #242424 solid 2px;
	width: 246px;
}

.grid-m730s200 .col-infosub .tit01 {
	background-color: #242424;
	height: 30px;
	overflow: hidden;
	border-bottom: solid 2px #b0b0b0;
}

.grid-m730s200 .col-infosub .tit01 strong {
	float: left;
	line-height: 30px;
	padding-left: 10px;
}

.grid-m730s200 .col-infosub .tit01 strong,.grid-m730s200 .col-infosub .tit01 strong a {
	color: #FFF;
	font-size: 14px;
}

.grid-m730s200 .col-infosub .con01 .c1 table {
	background: #606060;
}

.grid-m730s200 .col-infosub .con01 .c1 thead {
	color: #FFF;
	line-height: 32px;
	height: 32px;
}

.grid-m730s200 .col-infosub .con01 .c1 tbody {
	background: #FFF;
}

.grid-m730s200 .col-infosub .con01 .c1 td {
	border: #dedede solid 1px;
	line-height: 25px;
	height: 25px;
	*line-height: 24px;
	*height: 24px;
	_line-height: 25px;
	_height: 25px;
	padding: 0 5px;
}

.grid-m730s200 .col-infosub .con01 .c1 td a {
	color: #606060;
}

.grid-m730s200 .col-infosub .con01 .c1 td span a {
	color: #F00;
}

.grid-m730s200 .col-infosub .tit02 {
	height: 28px;
	background-color: #eeeeee;
	overflow: hidden;
}

.grid-m730s200 .col-infosub .tit02 strong {
	float: left;
	line-height: 28px;
	*line-height: 32px;
	line-height: 32px\9;
	padding-left: 12px;
	font-size: 14px;
}

.grid-m730s200 .col-infosub .tit02,.grid-m730s200 .col-infosub .tit02 a {
	color: #202020;
}

.grid-m730s200 .col-infosub .con02 {
	border: #d5d5d5 solid 1px;
	background-color: #f2f2f2;
}

.grid-m730s200 .col-infosub .con02 .lst {
	padding: 10px 6px 9px;
}

.grid-m730s200 .col-infosub .con02 .mod-lst {
	width: 186px;
}

.grid-m730s200 .col-infosub .con02 .lst li {
	background-position: 0 9px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	font-size: 12px;
}

.grid-m730s200 .col-infosub .con02 .lst li a {
	padding-left: 10px;
}

.lst li {
	background: transparent url(../images/info/ico01.png) no-repeat 999em 0;
	overflow: hidden;
}

.lst a {
	color: #444444;
}

.lst a:hover {
	color: #cc0066;
}

.mod-lst {
	width: 100%;
}

#mTit {
	width: 1190px;
	height: 33px;
	float: left;
	margin-top: 10px;
	overflow: hidden;
	background-color: #242424;
}

#mTit,#mTit a {
	color: #FFF;
}

#mTit ul {
	width: 1190px;
}

#mTit li {
	float: left;
}

#mTit li a {
	display: inline-block;
	text-decoration: none;
}

#mTit li.lil a {
	padding: 0 53px 0 20px;
	font-size: 14px;
	line-height: 34px;
	_line-height: 35px;
}

#mTit li.lir {
	float: right;
}

#mTit li.lir a {
	float: left;
	line-height: 36px;
	_line-height: 37px;
	font-size: 12px;
	padding-right: 16px;
}

#mTit li.li01 a {
	background-position: 100% -44px;
}

#mTit li.li02 a {
	background-position: 100% -77px;
}

#mTit li.li03 a {
	background-position: 100% -110px;
}

#mTit li.li04 a {
	background-position: 100% -143px;
}

#mTit li.li05 a {
	background-position: 100% -176px;
}

#mTit li.li06 a {
	background-position: 100% -209px;
}

#mTit li.li07 a {
	background-position: 100% -242px;
}

.mCon01 {
	border: #e0e0e0 4px solid;
	width: 932px;
}

.mCon01 .tit {
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	background: #e0e0e0;
	overflow: hidden;
	border-bottom: #ff6600 solid 1px;
}

.mCon01 .tit strong {
	float: left;
	padding-left: 16px;
	font-size: 14px;
}

.pic1 {
	padding: 0 1px;
}

.pic1 li {
	width: 155px;
	display: inline;
	float: left;
	margin: 10px 0;
	text-align: center;
}

.pic1 li img {
	width: 120px;
}

.pic1 li .lstdiv {
	margin: 6px auto 1px;
	disiplay: block;
	width: 120px;
	height: 160px;
	padding: 9px;
	border: #dedede solid 1px;
	background: #f3f3f3;
}

.pic1 li .aimg {
	display: block;
	width: 120px;
	height: 160px;
	background: #ffffff;
	overflow: hidden;
}

.pic1 li .aimg a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	*display: block;
	*font-family: Arial;
	width: 120px;
	height: 160px;
	*font-size: 140px;
}

.pic1 li p {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	width: 140px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	background: #f3f3f3;
}

.guide {
	margin: 0 0 0px;
	padding-top: 0px;
	height: 32px;
	line-height: 32px;
	color: #777;
	border-bottom: 1px #f60 solid;
}

.guide .tit {
	float: left;
	position: relative;
	margin: 0 8px -4px 0;
	padding: 0 12px 2px;
	line-height: 30px;
	font-size: 20px;
	font-family: \5FAE\8F6F\96C5\9ED1;
	color: #f60;
	border-bottom: 4px #f60 solid;
}

.guide a {
	color: #555;
}

.guide a:hover {
	color: #f60;
}

.guide .fl {
	padding: 0 6px;
}

.grid-m630s300 {
	float: left;
	width: 1190px;
}

.grid-m630s300 .main-wrap {
	margin-right: 308px;
}

.grid-m630s300 .col-infosub {
	margin-left: -300px;
	width: 300px;
}

.grid01 {
	float: left;
	width: 1190px;
}

.grid01 .content {
	width: 936px;
	border: #FF6600 solid 1px;
	padding: 1px;
}

.grid01 .titBox {
	width: 936px;
	height: 28px;
	background-color: #FF6600;
	overflow: hidden;
	border-bottom: #e0e0e0 2px solid;
}

.grid01 .titBox strong {
	float: left;
	font-size: 14px;
	line-height: 28px;
	_line-height: 30px;
	width: 160px;
	padding-left: 12px;
	color: #FFF;
}

.grid01 .titBox a {
	color: #ffffff;
}

.grid01 .more {
	float: right;
	padding-right: 12px;
	line-height: 28px;
	_line-height: 30px;
}

.grid01 .more li {
	float: left;
	padding-left: 10px;
}

.grid01 .con {
	padding: 8px;
	width: 920px;
}

.grid01 .con li {
	display: inline;
	white-space: nowrap;
	line-height: 22px;
	_line-height: 23px;
}

.grid01 .con li a {
	padding: 0 2px;
	line-height: 20px;
}

.layA {
	border: #d1d1d1 solid 1px;
	width: 628px;
}

.layA ol {
	padding: 8px 12px;
}

.layA li {
	border-bottom: #d1d1d1 solid 1px;
	padding: 10px 0;
}

.layA li strong {
	height: 24px;
	line-height: 24px;
	padding-left: 13px;
	float: left;
	overflow: hidden;
	width: 500px;
	background: url(/public/image/ico01.png) 2px -23px no-repeat;
	font-size: 14px;
}

.layA .iData {
	float: left;
	width: 81px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	color: #a2a2a2;
}

.layA .iDes {
	color: #818181;
	line-height: 20px;
	clear: both;
}

.layA .iDes a {
	color: #FF6600
}

.pic1 {
	width: 628px;
	overflow: hidden;
}

.pic1 ol {
	width: 644px;
}

.pic1 li {
	float: left;
	width: 142px;
	display: inline;
	margin: 0 16px 10px 0;
	text-align: center;
}

.pic1 li img {
	width: 120px;
}

.pic1 li .lstdiv {
	disiplay: block;
	width: 120px;
	height: 160px;
	padding: 11px;
	border: #dedede solid 1px;
	background: #f3f3f3;
}

.pic1 li .aimg {
	display: block;
	width: 120px;
	height: 160px;
	background: #ffffff;
	overflow: hidden;
}

.pic1 li .aimg a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	*display: block;
	*font-family: Arial;
	width: 120px;
	height: 160px;
	*font-size: 140px;
}

.pic1 li p {
	margin: 0 auto;
	display: block;
	width: 142px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	background: #f3f3f3;
}

.expPicF {
	width: 680px;
	margin: 0 auto 20px;
	overflow: hidden;
}

.expPicF li {
	width: 680px;
	height: 106px;
	padding: 15px 0;
	float: left;
	border-bottom: 1px dashed #c8c8c8;
	overflow: hidden;
}

.expPicF i {
	display: block;
	float: left;
	overflow: hidden;
}

.expPicF .iPic {
	width: 170px;
	margin: 0 10px 0 0;
}

.expPicF .iPic .imgBox {
	width: 160px;
	padding: 4px;
	border: 1px solid #ddd;
	height: 100px;
}

.expPicF .iPic a {
	display: block;
	width: 160px;
	height: 100px;
	overflow: hidden;
}

.expPicF .iPic img {
	width: 160px;
}

.expPicF .iDes {
	width: 490px;
}

.expPicF .eTit {
	width: 380px;
	height: 24px;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	display: block;
}

.expPicF .eTit a {
	color: #F60;
}

.expPicF .eDes {
	margin: 5px 0;
	display: block;
	color: #989898;
	line-height: 18px;
}

.expPicF .eDes p {
	display: block;
	padding: 3px 0;
}

.expPicF .eDes a {
	color: #555;
	padding: 0 5px;
}

.expPicF .eDes a:hover {
	color: #840;
}

#pageLinkLeft {
	line-height: 30px;
	height: 30px;
	font-size: 12px;
	color: #F60;
	border-top: #c0c0c0 solid 1px;
	border-bottom: #d0d0d0 solid 1px;
	margin-top: 10px;
}

#pageLinkLeft a {
	color: #ffffff;
	background: #F60;
	padding: 0 2px;
}

#pageLinkLeft span {
	padding: 0 4px;
}

#pageLinkLeft b {
	background: #FFF2CA;
}

.dBoxA {
	background-color: #eee
}

.dBoxA .thA {
	height: 32px;
	line-height: 32px;
	*line-height: 34px;
	line-height: 34px\9;
	overflow: hidden;
	border-bottom: 1px solid #d5d5d5;
	padding: 0 8px 0 15px;
}

.dBoxA .mark {
	font-size: 14px
}

.dBoxA .subMark,.dBoxA a.subMark,.dBoxA .subMark a {
	color: #808080
}

.dBoxA a.subMark:hover,.dBoxA .subMark a:hover {
	color: #f60
}

.channelRecom .tbA {
	padding: 0 5px;
}

.channelRecom .picLi ol {
	padding: 6px 0;
}

.channelRecom .picLi li {
	width: 145px;
	float: left;
}

.channelRecom .picLi li .imgCon {
	width: 130px;
	background-color: #ffffff;
	padding: 4px;
	border: 1px solid;
	border-color: #e2e2e2 #e2e2e2 #e5e5e5;
	margin: 6px auto;
}

.channelRecom .picLi li .imgCon .img {
	width: 130px;
	height: 81px;
	overflow: hidden;
}

.channelRecom .picLi li .imgCon .box {
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	display: block;
	text-align: center;
}

.channelRecom .picLi li .imgCon img {
	width: 130px;
}

.channelRecom .lst {
	padding: 10px 10px 9px;
}

.channelRecom .mod-lst {
	width: 270px;
}

.channelRecom .lst li {
	background-position: 0 -9px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	font-size: 12px;
}

.channelRecom .lst li a {
	padding-left: 10px;
}

#pageLinkLeft {
	padding: 5px 0;
	font-size: 12px;
	color: #F60;
	border-top: #c0c0c0 solid 1px;
	border-bottom: #d0d0d0 solid 1px;
	margin-top: 10px;
}

#pageLinkLeft a {
	color: #ffffff;
	background: #F60;
	padding: 0 2px;
}
