{loop $tags $i $t}
	 <div class="offer-content">
				 <div class="offerdetail">
				     <h3 class="titlesearch"> <a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></h3>
				     <p class="param-group">{$t[introduce]}...</p>
				     <p class="mark"> 发布时间：<a href="{$t[caturl]}" target="_blank">{$t[catname]}</a><em>{timetodate($t[addtime], $datetype)}</em> </p>
				 </div>
			<div class="Clear"></div>
	 </div>
{/loop}

{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
