

<!--分类开始-->
{php $numa = 36;$numb = 0;$numc = 0;}
{php $mid = $moduleid;}
{php $child = get_maincat(0, $mid, 1);}
{loop $child $i $c}
{if $i<10 && $c[child]}
{php $sub = get_maincat($c[catid], $mid, 1);}

<div class="mod-a">
 <div class="center_header">
      <ul class="fd-right">
        <li class="first-col"><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">更多...</a></li></ul>
      <h2 class="center_titleindex">{set_style($c[catname], $c[style])}</h2>
 </div>
     <div class="region-industry mod-smart">
            <div class="mod_body">
  <div class="mod-industry obj-category"> 
    <div class="contentindex_center">
                         {loop $sub $j $s}
				         {if $j<4}
                          <li>
                           <div>
                             <a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank"><strong>{set_style($s[catname], $s[style])}</strong></a>
                           </div>  
                           <span>
                           {if $s[child]}{php $sub = get_maincat($s[catid], $mid, 1);}
                           {loop $sub $k $t}
                            {if $k<4}
                            <em><A href="{$MODULE[$mid][linkurl]}/sell{$s[linkurl]}" target="_blank">{set_style($t[catname], $t[style])}</A></em>
                            {/if}
                           {/loop}
                           {/if}
                           </span>
                          </li>
                         {/if}
				         {/loop}

    </div>
    <!--{php $tags=tag("moduleid=$moduleid&condition=level=1 and thumb<>''&catid=".$c[catid]."&pagesize=1&template=null");}-->
                 {loop $tags $z $v} 
                 <div class="comad">              
                 <p  style="text-align:center; overflow:hidden">
                    <a href="/com/{$v[username]}" hidefocus="" target="_blank"><img src="{$v[thumb]}" alt="{$v[company]}"></a></p>
                </div>
                {/loop}

  </div>
  
  <div class="mod-industry obj-info">
  
    <div id="hot-news-1" class="hot-news cell-hot-market">
          <ul class="hot-img2">
<!--{php $tags=tag("moduleid=$moduleid&condition=status=3 and level=1 and thumb<>''&catid=".$c[catid]."&areaid=$cityid&order=addtime desc&pagesize=6&template=null");}-->
      {loop $tags $i $t}
		  <li>
          <span class="mr10"><a class="img" title="{$t[alt]}" href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb], 1)}" width="100" height="100"></a></span>
          <span>
             <p class="f-tab-text"><a title="{$t[alt]}" href="{$t[linkurl]}" target="_blank">{$t[title]}</a></p>
             <p class="f-tab-text f_huise">采购数量：{$t[amount]}</p>
             <p class="f-tab-text f_price">采购价格：￥{$t[price]}</p>
             <p class="f-tab-text f_huise">采购公司：{$t[company]}</p>
          </span>
          </li>
      {/loop}
          </ul>
          
      </div>
    
    
  </div>
  
            </div>
  <div class="obj-event">
    <div class="contentindex_left">
      <span class="px16 ml10">最新求购</span>
      <ul class="cell-rank-list mt15">
<!--{php $tags=tag("moduleid=$moduleid&condition=status=3 and level=2&catid=".$c[catid]."&length=30&areaid=$cityid&order=hits desc&pagesize=10&template=null");}-->
      {loop $tags $i $t}
       <li class="rank<?php echo $i+1;$i++?>"><a title="{$t[alt]}" href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
      {/loop}
      </ul>  
    </div>  
  </div>
  
            </div>
            </div>
{php $numb = 0;}
{/if}
{/loop}
