{template 'login-header'}
<div class="login_main">
<style type="text/css">
.login_main{ height:500px; margin-top:30px;}
.main_left{width:700px; height:395px; float:left}
.main_right{width:400px; height:350px; padding:20px 0; margin:0 20px; border:#CCC 1px solid; float:right;box-shadow: 0 1px 2px #ccc;-webkit-box-shadow: 0 1px 2px #ccc;-moz-box-shadow: 0 1px 2px #ccc;}
.main_right li{height:35px; line-height:35px;}
.main_right span{display:block; float:left;}
.main_title{text-align:center;width: 280px;margin: 0 auto;padding-bottom: 10px;}
.main_btn{width:100px; height:40px; text-align:center; }
.mian_mima{height: 35px;}
.main_input{width:250px; height:50px;}
.main_input input{background:#FFF !important;width:190px; height:35px; padding:0 5px}
.main_rem {line-height:35px; margin-top:10px; padding-left:100px;}
.main_rem span{display:block; width:100px;}
.main_denglu{padding-left:100px}
.main_denglu_input{width:200px; height:40px; border:#f78438 solid 2px; background:#f78438 !important; font-size:18px; color:#fff; font-family:"微软雅黑";}
.main_qita{float: left;padding: 20px 30px;}
.inp{width:190px !important; height:35px; padding:0 5px;background-color: #fff;}
input, select{border: 1px solid #C0C3C8;line-height: 35px;}
.tips {position:absolute;z-index:100;width:200px;border: 1px #ccc solid;background: #fff;overflow:hidden;margin:0 0 0 -40px}
.tips div{line-height:22px;padding:8px 10px 8px 10px;}
</style>
<div class="m">
  <div class="main_left">{ad(63)}</div>
  <div class="main_right">
	<ul>
		<form method="post" action="{$DT[file_login]}" onsubmit="return Dcheck();">
		<input name="forward" type="hidden" value="{$forward}"/>
		<input name="auth" type="hidden" value="{$auth}"/>
		<div>
		<li class="main_title">
		<span class="f_gray">您尚未登录，或者访问了一个需要登录的页面..</span>
		</li>
		<li onmouseover="Ds('tusername');" onmouseout="Dh('tusername');">
		<span class="main_btn">
		<select name="option" style="height: 35px;width: 80px;">
			<option value="username">用户名</option>
			<option value="passport">昵称</option>
			<option value="email">Email</option>
			<option value="mobile">手机号</option>
			<option value="company">公司名</option>
			<option value="userid">会员ID</option>
		</select>
		</span>
		<span class="main_input"><input name="username" type="text" id="username" value="{$username}" /></span>
		<span>
			<div class="tips" id="tusername" style="display:none;">
				<div>如果忘记了用户名，请在左侧选择其他登录名称<br/>例如Email、手机号、公司名等</div>
			</div>
		</span>
		</li>
		<li onmouseover="Ds('tpassword');" onmouseout="Dh('tpassword');">
		<span class="main_btn mian_mima">密&nbsp;&nbsp;码：</span>
		<span class="main_input">{template 'password', 'chip'}</span>
		<span>
			<div class="tips" id="tpassword" style="display:none;">
				<div>如果忘记了密码，请<a href="send.php" class="f_b">点击这里</a>自主找回或联系本站工作人员协助找回</div>
			</div>
		</span>
		</li>
		{if $MOD[captcha_login]}
		<li>
		<span>验证码：</span>
		<span>{template 'captcha', 'chip'}</span>
		<span></span>
		</li>
		{/if}
		<li class="main_rem">

        <span title="选中后 一月内不用再次登录 网吧或公共计算机请勿选"><input type="checkbox" name="cookietime" value="1" id="cookietime"{if $MOD[login_remember]} checked{/if}/><label for="cookietime">记住我</label></span>
		<span title="选中后 将直接进入商务室 不返回登录前的页面"><input type="checkbox" name="goto" value="1" id="goto"{if $MOD[login_goto]} checked{/if}/><label for="goto">进入商务室</label></span>


		</li>
		<li class="main_denglu">

		<span><input class="main_denglu_input" type="submit" name="submit" value=" 登 录 "/>&nbsp;&nbsp;<a href="send.php">忘记了密码？</a></span>
		<span class="main_zhuce">
	立即免费注册一个(仅需要大约1分钟)...<br/>
	<input type="button" value=" 立即免费注册 " class="main_denglu_input" style="background:#F8B003;" onclick="Go('{$DT[file_register]}?forward={urlencode($forward)}');"/>
	</span>
		</li>
		<li>
		{if $oa}
		<li class="main_qita">
		<span>其他登录：</span>
		<span>
		{loop $OAUTH $k $v}
		{if $v[enable]}<a href="{DT_PATH}api/oauth/{$k}/connect.php" title="{$v[name]}"><img src="{DT_PATH}api/oauth/{$k}/ico.png" alt="{$v[name]}"/></a> &nbsp;{/if}
		{/loop}
		</span>
		</li>
		{/if}
		</div>
		</form>
	
	</ul>
  </div>
</div>


<script type="text/javascript">
if(Dd('username').value == '') {
	Dd('username').focus();
} else {
	Dd('password').focus();
}
function Dcheck() {
	if(Dd('username').value == '') {
		confirm('请输入登录名称');
		Dd('username').focus();
		return false;
	}
	if(Dd('password').value == '') {
		confirm('请输入密码');
		Dd('password').focus();
		return false;
	}
{if $MOD[captcha_login]}
	if(!is_captcha(Dd('captcha').value)) {
		confirm('请填写验证码');
		Dd('captcha').focus();
		return false;
	}
{/if}
	return true;
}
</script>
</div>
{template 'footer'}